@font-face {
  font-family: Rubik;
  src: url(./assets/fonts/Rubik-VariableFont_wght.ttf);
}

:root {
  --navy-950: hsl(226deg, 43%, 10%);
  --navy-900: hsl(235deg, 46%, 20%);
  --navy-800: hsl(235deg, 41%, 34%);
  --navy-200: hsl(236deg, 100%, 87%);
  --orange: hsl(15deg, 100%, 70%);
  --purple-700: hsl(264deg, 64%, 52%);
  --purple-600: hsl(246deg, 80%, 60%);
  --purple-500: hsl(235deg, 45%, 61%);
  --blue: hsl(195deg, 74%, 62%);
  --pink: hsl(348deg, 100%, 68%);
  --green: hsl(145deg, 58%, 55%);
  --yellow: hsl(43deg, 84%, 65%);
  --grey-200: hsl(0deg, 0%, 85%);

  font-family: Rubik, sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;

  --outer-border-radius: 20px;
  --inner-border-radius: 15px;
}

body,
#root {
  min-height: 100vh;
}

body {
  background-color: var(--navy-950);
  color: white;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding: 16px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 168px;
  border-radius: var(--outer-border-radius);
}

.work {
  background-color: var(--orange);
}

.play {
  background-color: var(--blue);
}

.study {
  background-color: var(--pink);
}

.exercise {
  background-color: var(--green);
}

.social {
  background-color: var(--purple-700);
}

.self-care {
  background-color: var(--yellow);
}

.banner-icon {
  position: absolute;
  top: -3%;
  right: 7%;
}

.exercise .banner-icon {
  transform: rotate(-30deg);
}

.card-content {
  isolation: isolate;
  display: grid;
  grid-template-rows: 21px 38px;
  grid-template-columns: 1fr 1fr;
  row-gap: 8px;
  justify-content: space-between;
  grid-template-areas:
    'title button'
    'current previous';
  width: 100%;
  background-color: var(--navy-900);
  border-radius: var(--inner-border-radius);
  padding: 1.75rem 1.5rem;
}

.card-content:hover {
  background-color: var(--navy-800);
}

.card-title {
  font-size: 1.125rem;
  font-weight: var(--fw-medium);
  grid-area: title;
}

.btn {
  border: none;
  background: none;
  color: var(--purple-500);
}

.btn:hover {
  color: white;
  cursor: pointer;
}

.btn.active,
.btn:focus {
  color: white;
}

.btn.meatball {
  grid-area: button;
  justify-self: end;
}

.current-data {
  grid-area: current;
  font-size: 2rem;
  font-weight: var(--fw-light);
}

.previous-data {
  grid-area: previous;
  justify-self: end;
  align-self: center;
  font-size: 0.9375rem;
  color: var(--navy-200);
}

.profile {
  background-color: var(--navy-900);
  border-radius: var(--outer-border-radius);
}

.profile-main {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 2rem;
  background-color: var(--purple-600);
  border-radius: var(--outer-border-radius);
}

.profile-pic-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
  grid-area: pic;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  width: 64px;
  height: 64px;
}

.preface {
  font-size: 0.9375rem;
  color: var(--navy-200);
}

.user-name {
  font-size: 1.5rem;
  font-weight: var(--fw-light);
}

.profile-btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1.5rem 0;
}

@media (min-width: 48rem) {
  main {
    grid-template-rows: auto auto;
  }

  .profile-btns {
    grid-template-columns: repeat(3, 18%);
    justify-content: center;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .card {
    height: 255px;
  }

  .card-content {
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
      'title button'
      'current current'
      'previous previous';
  }

  .current-data {
    font-size: 3.5rem;
  }

  .previous-data {
    justify-self: start;
  }
}

@media (min-width: 1084px) {
  main {
    grid-template-columns: 25% 1fr;
  }

  .profile {
    display: flex;
    flex-direction: column;
  }

  .profile-main {
    flex-direction: column;
    align-items: flex-start;
    min-height: 60%;
    padding-bottom: 80px;
  }

  .profile-btns {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5rem 2rem 2rem 2rem;
  }

  .btn {
    font-size: 18px;
  }

  .user-name {
    font-size: 2.5rem;
  }

  .card {
    height: 242px;
  }

  .card-content {
    gap: 0;
  }
}
